WebService_testUnitaire/Web References/SwXmlToJson/SwXmlToJson.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="XmlToJson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XmlToJsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XmlToJsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="XmlToJsonSoapIn">
    <wsdl:part name="parameters" element="tns:XmlToJson" />
  </wsdl:message>
  <wsdl:message name="XmlToJsonSoapOut">
    <wsdl:part name="parameters" element="tns:XmlToJsonResponse" />
  </wsdl:message>
  <wsdl:portType name="SwXmlToJsonSoap">
    <wsdl:operation name="XmlToJson">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permet de convertir une chaine XML en une chaine JSon possédant les mêmes caractéristiques.</wsdl:documentation>
      <wsdl:input message="tns:XmlToJsonSoapIn" />
      <wsdl:output message="tns:XmlToJsonSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SwXmlToJsonSoap" type="tns:SwXmlToJsonSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="XmlToJson">
      <soap:operation soapAction="http://tempuri.org/XmlToJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SwXmlToJsonSoap12" type="tns:SwXmlToJsonSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="XmlToJson">
      <soap12:operation soapAction="http://tempuri.org/XmlToJson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SwXmlToJson">
    <wsdl:port name="SwXmlToJsonSoap" binding="tns:SwXmlToJsonSoap">
      <soap:address location="http://localhost/WebService/SwXmlToJson.asmx" />
    </wsdl:port>
    <wsdl:port name="SwXmlToJsonSoap12" binding="tns:SwXmlToJsonSoap12">
      <soap12:address location="http://localhost/WebService/SwXmlToJson.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>